<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       layout:decorate="~{/layout}">
<head>
    <meta charset="UTF-8">
    <title>Listagem de Funcionários</title>
</head>
<body>
<div class="container" layout:fragment="conteudo">
    <h1>Listagem de Funcionários</h1>
    <div th:if="!${#strings.isEmpty(msg)}" class="alert alert-success">
        <span th:text="${msg}"></span>
    </div>

    <table class="table table-striped">
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Data de criação</th>
            <th>Data de atualização</th>
            <th></th>
        </tr>
        <tr th:each="employee:${employees}">
            <td th:text="${employee.id}"></td>
            <td th:text="${employee.name}"></td>
            <td th:text="${employee.email}"></td>
            <td th:text="${employee.createdAt}"></td>
            <td th:text="${employee.updatedAt}"></td>
            <td>
                <a th:href="@{/employee/update/}+${employee.id}" class="btn btn-sm btn-primary">Editar</a>
                <button th:onclick="|employeeId.value = ${employee.id}|" type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Excluir
                </button>
            </td>
        </tr>
    </table>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Confirmação</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Deseja realmente excluir o usuário?
                </div>
                <div class="modal-footer">
                    <form th:action="@{/employee/delete}" method="post">
                        <input type="hidden" id="employeeId" name="idEmployee">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Não</button>
                        <button type="submit" class="btn btn-danger">Sim</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>